<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block pageTitle %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ _base_url_ }}public/css/normalize.css">
  <link rel="stylesheet" href="{{ _base_url_ }}public/css/foundation.min.css">
  <link rel="stylesheet" href="{{ _base_url_ }}public/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ _base_url_ }}public/css/main.css">
  <script src="{{ _base_url_ }}/public/js/vendor/custom.modernizr.js"></script>
</head>
<body>

  <nav id="menu" class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{ _base_url_ }}"><i class="fa fa-group"></i> {{ _school_name_ }}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>

    <section class="top-bar-section" data-topbar data-options="is_hover: false">
    
      <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="{{ _base_url_ }}admissions/" class="menu-item">
            <i class="fa fa-trophy" style="margin-right: 5px;"></i> Admissions au Diplôme
          </a>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown not-click">
          <a href="#" class="menu-item">
            <i class="fa fa-bars" style="margin-right: 5px;"></i> Notes
          </a>
          <ul class="dropdown">
            <li>
              <label>Promotion</label>
            </li>
            {% for class in _school_classes_ %}
              <li class="has-dropdown not-click">
                <a href="#">{{ class.libelle }}</a>
                <ul class="dropdown">
                  <li>
                    <label>Élève</label>
                  </li>
                  {% for eleve in class.eleves %}
                    <li>
                      <a href="{{ _base_url_ }}notes/moyennes?id={{ eleve.id }}">{{ eleve.prenom }} {{ eleve.nom }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>

    </section>
  </nav>

	{% block content %}{% endblock %}

	<script src="{{ _base_url_ }}public/js/vendor/jquery.js"></script>
  <script src="{{ _base_url_ }}public/js/foundation.min.js"></script>
  <script src="{{ _base_url_ }}public/js/main.js"></script>
</body>
</html>