#menu,
#menu .menu-item {
	background: #00a5cd;
}

#menu .divider {
	border-right: solid 1px #62bcd1;
}

#home-hero {
	background: #b3dce6;
	max-width: none;
	height: 300px;
	text-align: center;
}

#home-hero h1 {
	margin-top: 106px;
}

#advantages li {
	margin-top: 50px;
	text-align: center;
}

#hero {
	background: #b3dce6;
	max-width: none;
	height: 100px;
	text-align: center;
}

#hero h2 {
	margin-top: 20px;
}

#selectors {
	margin-top: 25px;
}

#selectors .button {
	margin-bottom: 0 !important;
}

thead tr th {
	text-align: center !important;
	color: #EEE !important;
	background-color: black;
}

table tr:nth-of-type(even) {
	background-color: #f6f6f6;
}

table tr:hover {
	background-color: #f6ebd6;
}