{% extends 'base.html.twig' %}

{% block pageTitle %}EPSI : Accueil{% endblock %}
{% block content %}
	
	<div id="home-hero" class="row">
		<h1>Bienvenue sur EPSI Manager</h1>
	</div>
	<div class="row">
		<ul id="advantages" class="small-block-grid-3">
			<li>
				<i class="fa fa-magic fa-5x"></i>
				<h3>Simple</h3>
			</li>
			<li>
				<i class="fa fa-bolt fa-5x"></i>
				<h3>Rapide</h3>
			</li>
			<li>
				<i class="fa fa-globe fa-5x"></i>
				<h3>Accessible</h3>
			</li>
		</ul>
	</div>

{% endblock %}
