{% extends 'base.html.twig' %}

{% block pageTitle %}EPSI : Admissions{% endblock %}
{% block content %}
	
	<div id="hero" class="row">
		<h2>Notes par matière</h2>
	</div>
	<div class="row">
		<form method="get" id="selectors" class="panel radius">
			<ul class="small-block-grid-1">
				<li>
					<select name="idsemestre">
						<option>Choisir un semestre</option>
						{% for semestre in semestres %}
							<option value="{{ semestre.id }}" {% if idSemestre == semestre.id %}selected{% endif %}>{{ semestre.libelle }}</option>
						{% endfor %}
					</select>
				</li>
			</ul>
			<div class="large-12" style="text-align: center;">
				<input type="hidden" name="id" value="{{ idEleve }}" />
				<button class="button small success" type="submit">Afficher</button>
			</div>
		</form>
	</div>
	<div class="row">
		{% if showList %}
			<div class="small-12">
				<table class="small-8 small-offset-2">
				  <thead>
				    <tr>
				      <th>Matière</th>
				      <th>Moyenne</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% if moyennes|length > 0 %}
					  	{% for moyenne in moyennes %}
					  		<tr>
						      	<td>{{ moyenne.libelle }}</td>
						      	<td style="text-align: right;">{{ moyenne.moyenne|number_format(2) }}</td>
						    </tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="3" style="text-align: center;">Aucun résultat correspondant à votre recherche</td>
						</tr>
					{% endif %}
				  </tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock %}
