{% extends 'base.html.twig' %}

{% block pageTitle %}EPSI : Admissions{% endblock %}
{% block content %}
	
	<div id="hero" class="row">
		<h2>Liste des Admis / Recalés</h2>
	</div>
	<div class="row">
		<form method="get" id="admissions-selectors" class="panel radius">
			<ul class="small-block-grid-2">
				<li>
					<select name="idclasse">
						{% for classe in _school_classes_ %}
							<option value="{{ classe.id }}" {% if idClasse == classe.id %}selected{% endif %}>{{ classe.libelle }}</option>
						{% endfor %}
					</select>
				</li>
				<li>
					<select name="year">
						{% for selectorYear in "now"|date("Y")..1990 %}
							<option value="{{ selectorYear }}" {% if year == selectorYear %}selected{% endif %}>{{ selectorYear }}</option>
						{% endfor %}
					</select>
				</li>
			</ul>
			<div class="large-12" style="text-align: center;">
				<button class="button small success" type="submit">Afficher</button>
			</div>
		</form>
	</div>
	<div class="row">
		{% if showList %}
			<div class="small-12">
				<table class="small-12">
				  <thead>
				    <tr>
				      <th>Élève</th>
				      <th>Moyenne Annuelle</th>
				      <th>Décision</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% if admis|length > 0 and recales|length > 0 %}
					  	{% for eleve in admis %}
					  		<tr>
						      	<td>{{ eleve.prenom }} {{ eleve.nom }}</td>
						      	<td style="text-align: right;">{{ eleve.moyenne|number_format(2) }}</td>
						      	<td>Approuvée</td>
						    </tr>
						{% endfor %}

						{% for eleve in recales %}
					  		<tr>
						      	<td>{{ eleve.prenom }} {{ eleve.nom }}</td>
						      	<td style="text-align: right;">{{ eleve.moyenne|number_format(2) }}</td>
						      	<td>Avortée</td>
						    </tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="3" style="text-align: center;">Aucun résultat correspondant à votre recherche</td>
						</tr>
					{% endif %}
				  </tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock %}
